/* Mobile Layout Styles - min-width: 375px */
/* Global Elements */
a { text-decoration: none; background-color: inherit; color: #fff;  }

body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  background-color: #fff;
  color: #808D99;
}

ul { list-style: none; padding: 0;  }

/* Header */
.header-logo { width: 96px; height: 15.6px; }
.site-header { padding: 5%; margin-bottom: 10%; text-align: left;  }

/* Main Content */
.main-content { padding: 5%; margin-bottom: 45%;  }

.main-content__btn {
  display: block;
  background: linear-gradient(to right, #ff52bf 0%, #ff99cc 100%);
  padding: 4%;
  border-radius: 4px;
  border: 1px solid transparent;
  box-shadow: 0 2px 4px #d3d3d3;
}

.main-content__email {
  width: 85%;
  border: 2px solid #fafafa;
  border-radius: 4px;
  padding: 5%;
  background-color: inherit;
  color: #808D99;
  font-size: 1.02rem;
  margin-bottom: 6%;
  box-shadow: 0 2px 4px #d3d3d3;
}

.screen-mockups-image { width: 310.5px; height: 221.7px; margin-bottom: 20%;  }

.section-title {
  background-color: inherit;
  color: #00252E;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

.site-intro { margin-bottom: 7%;  }

.site-title {
  font-size: 1.8rem;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  background-color: inherit;
  color: #00252E;
}

/* Footer */
.attribution { font-size: 0.6rem; text-align: center;  }
.attribution__link { background-color: inherit; color: #6864b5; }
.footer-copyright { text-align: center; margin-bottom: 8%; font-size: 0.8rem;  }

.footer-logo {
  -webkit-filter: brightness(0) invert(1);
  filter: brightness(0) invert(1);
  margin-bottom: 10%;
  width: 240px;
  height: 39px;
}

.footer-main { display: flex; flex-direction: column; text-align: left;  }
.footer-nav__menu__item { font-size: 1.02rem; padding-bottom: 7%;  }
.footer-social { display: flex; flex-direction: row;  }
.footer-social__link { padding-right: 5%;  }

.site-footer {
  overflow: hidden;
  background-color: #00252E;
  color: inherit;
  padding: 10% 8% 4%;
}

/* Responsive Layout - scaled up */
/* iPad and similar screens */
@media screen and (min-width: 768px) {
  .attribution { font-size: 1rem;  }
  .fab { font-size: 2.75rem;  }
  .footer-copyright { font-size: 1.25rem;  }
  .footer-logo--resize { width: 50%; height: 50%;  }
  .footer-nav__menu__item { font-size: 1.5rem;  }
  .footer-social { padding-bottom: 5%;  }
  .header-logo--resize { width: 25%; height: 25%;  }
  .main-content__btn { font-size: 1.8rem;  }
  .main-content__email { font-size: 1.5rem;  }
  .screen-mockups-image--resize { width: 90%; height: 90%;  }
  .section-title { font-size: 2.5rem; margin-bottom: 8%;  }
  .site-intro { font-size: 1.5rem;  }
  .site-title { font-size: 2.45rem;  }
}

/* iPad Pro and similar screens */
@media screen and (min-width: 1024px) {
  .attribution { font-size: 1.8rem;  }
  .fab { font-size: 3.75rem;  }
  .footer-copyright { font-size: 2rem;  }
  .footer-nav__menu__item { font-size: 2.25rem;  }
  .main-content__btn { font-size: 2.25rem;  }
  .main-content__email { font-size: 2rem;  }
  .section-title { font-size: 3rem;  }
  .site-intro { font-size: 2rem;  }
  .site-title { font-size: 3.5rem;  }
}

/* Laptop/Desktop and similar screens */
@media screen and (min-width: 1200px) {
  .attribution { font-size: 0.8rem;  }
  .fab { font-size: 1.8rem;  }
  .footer-copyright { font-size: 1rem; text-align: right; margin-right: 10%;  }
  .footer-logo { margin-bottom: 5%;  }
  .footer-logo--resize { width: auto; height: auto;  }
  .footer-main { display: grid; grid-template-columns: 50% 50%;  }
  .footer-nav { grid-column: 2; grid-row: 1;  }
  .footer-nav__menu { display: flex;  }
  .footer-nav__menu__item { font-size: 1.05rem;  margin-right: 5%;  }
  .footer-social { display: flex;  }
  .footer-social__link { padding-right: 3%;  }
  .header-logo--resize { width: 15%; height: 15%;  }
  .main-content { margin-bottom: 10%;  }

  .main-content__btn {
    display: inline-block;
    padding: 1.5% 6%;
    font-size: 1rem;
    margin: 0 2%;
  }

  .main-content__email { width: 30%; padding: 1.5%; font-size: 1rem;  }
  .screen-mockups-image--resize { width: 70%; height: 70%; margin-bottom: 10%;  }
  .section-title { font-size: 2rem; margin-bottom: 3%;  }
  .site-footer { padding: 5% 5% 2%;  }
  .site-header { margin-bottom: 0; padding-bottom: 0;  }
  .site-intro { font-size: 1.3rem; padding: 0 20% 5%; margin-bottom: 0;  }
  .site-title { font-size: 2.25rem;  }
}
